
.profilePic {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    
}

.intro {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.content {
    text-align: left; 
    width: 40%;
}

a {
    color: #596571;
    padding: 20px;
    font-family: 'Karla', sans-serif;
}

h1 {
    color: #596571;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
    font-style: normal;
}

h2 {
    color: #0097a7;
    font-family: 'Karla', sans-serif;
    
}

h3 {
    color: #78909c;
    font-family: 'Playfair Display', serif;
}

button {
    font-family: 'Open Sans', sans-serif;
    color: #596571;
    font-style: normal;

}

body {
    margin: 0;
}

/* this is a comment */

.mySkills {
    text-align: center;
}

.flexContainer {
    display: flex;
    justify-content: space-between;

}

.userExperience {
    width: 33%;
    /* text-align: left; */
}

.wireframing {
    width: 33%;
    /* text-align: left; */
}

.prototyping {
    width: 33%;
    /* text-align: left; */
}

.myWork {
    text-align: center;
}

.workGrid {
    display: flex;
    justify-content: space-between;
}

.homeHelper {
    text-align: left;
}

.mobilePic {
    width: 200x;
    height: 200px;
}

.desktopPic {
    width: 200x;
    height: 200px;
}

.watchPic {
    width: 200x;
    height: 200px;
}

.user {
    width: 100x;
    height: 100px;
}

.wireframe {
    width: 100x;
    height: 100px;
}

.prototype {
    width: 100x;
    height: 100px;
}

p {
    color: #78828C;
    font-family: 'Karla', sans-serif;
}